@import url('https://fonts.googleapis.com/css2?family=Inter&family=Montserrat:wght@400;700;800;900&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    scroll-behavior: smooth
}

a {
    text-decoration: none;
    color: white;
}

body {
    font-size: 16px;
}

.banner-page1 {
    width: 100%;
    height: 110vh;
    background-image: url('https://gymate-iota.vercel.app/static/media/hero-img.40c8355a31f73340b733.jpg');
    background-position: center;
    background-size: cover;
    position: relative;
}

.mobileNav {
    width: 100vw;
    height: 100vh;
    background: white;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 100;
    transform: translate(0%);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.2s ease-in-out;
    transform: translate(-100%);
}

.navbar-list-mob ul {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.navbar-list-mob li {
    font-size: 1.5em;
    font-weight: 700;
    color: black;
    list-style: none;
    position: relative;
    overflow: hidden;
    transition: 0.3s;
}

.navbar-list-mob li:hover {
    color: #FF0336;
}

.mobileNav>.fa-xmark {
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 2.5em;
    transition: 0.2s;
}

.mobileNav>.fa-xmark:hover {
    color: #FF0336;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    width: 100%;
    padding: 20px 30px;
    top: 0;
    left: 0;
    right: 0;
    color: white;
    background: transparent;
    z-index: 100;
    transition: 0.1s;
}

.navbar-list ul {
    display: flex;
    list-style-type: none;
    gap: 20px;
    font-weight: 600;
    color: white;
}

.navbar-list ul>a {
    text-decoration: none;
    color: white;
    transition: 0.2s;
}

.navbar-list ul>a:hover {
    color: #FF0336;
}

.right-nav {
    display: flex;
    align-items: center;
    gap: 20px;
}

.right-nav>i {
    font-size: 1.3em;
    transition: 0.2s;
    cursor: pointer;
}

.right-nav>i:hover {
    color: #FF0336;
}

.right-nav>.fa-bars {
    display: none;
}

.joinbtn {
    border: 2px solid rgb(71, 71, 71);
    background: black;
    color: white;
    font-weight: 900;
    padding: 4px;
    padding-right: 20px;
    border-radius: 5px;
    cursor: pointer;
}

.joinbtn>i {
    background: #FF0336;
    padding: 10px;
    color: white;
    font-size: 1.3em;
    border-radius: 5px;
    margin-right: 8px;
    transition: transform 1s;
}

.joinbtn>i:hover {
    animation: rotate360 0.7s ease-out;
}

@keyframes rotate360 {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

/* about nav start xxxxxxxxxxxxxxxxxxxxxxxxxxxxx */

.nav-about-section {
    display: flex;
    flex-direction: column;
    gap: 50px;
    position: fixed;
    top: 0;
    bottom: 0;
    /* overflow-y: scroll; */
    overflow-y: scroll;
    overflow-x: hidden;
    max-width: 400px;
    background: white;
    z-index: 1000;
    transform: translateX(-100%);
    transition: 0.4s;
    padding: 30px;
}

.first-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#closeAboutNav {
    font-size: 1.9em;
    color: #FF0336;
}

.about-nav {
    display: flex;
    flex-direction: column;
    gap: 20px;
    line-height: 1.5em;
}

.gallery-nav {}

.contact-nav {
    display: flex;
    flex-direction: column;
    gap: 15px
}

.contact-nav>p {
    display: flex;
    gap: 10px;
}

.contact-nav i {
    color: #FF0336;
}

.follow-us-nav {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.follow-us-nav>div {
    display: flex;
    gap: 10px;
}

.follow-us-nav span {
    background: #FF0336;
    color: white;
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    border-radius: 50%;
    font-size: 1.2em;
}

#mail-long {
    word-wrap: break-word;
}

.pink-heading span {
    position: absolute;
    top: 8px;
    left: 23px;
    font-weight: 700;
    font-size: 0.8em;
    width: 80%;
    text-align: center;
}

.pink-heading {
    position: relative;
    width: 220px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: purple;
    margin-bottom: 20px;
    color: white;
    font-size: 1.1em;
    margin: auto;
}

.pink-heading img {
    width: 100%;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
}



.mtBtn {
    width: 180px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    font-size: 0.9em;
    font-weight: bolder;
    display: flex;
    align-items: center;
    gap: 10px;
    background: white;
    border: none;
    cursor: pointer;
    margin-top: 30px;
}

.mtBtn::after {
    content: '';
    width: 177px;
    height: 49px;
    border: 1px solid gray;
    position: absolute;
    z-index: -1;
    margin-top: -20px;
    margin-left: 20px;
    transition: 0.3s;
}

.mtBtn:hover::after {
    margin-top: 0px;
    margin-left: 0px;
}

.mtBtn>i {
    color: #ff002b;
}
/* Change the background color of the scrollbar track */
::-webkit-scrollbar {
    width: 10px;
    /* Width of the scrollbar */
}

/* Change the color of the scrollbar thumb (the draggable part) */
::-webkit-scrollbar-thumb {
    background-color: #FF0336;
    border-radius: 10px;

}

/* Change the color of the scrollbar track (the non-draggable part) */
::-webkit-scrollbar-track {
    background-color: white;
}

/* Change the color of the scrollbar corner (the intersection of horizontal and vertical scrollbars) */
::-webkit-scrollbar-corner {
    background-color: white;
}




/* footer container is started  */
.footer-container {
    width: 80%;
    margin: auto;
    padding: 10px 0 70px 0;
}

.footer-grid {
    padding-top: 100px;
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    gap: 30px;
}

.footer-grid a {
    color: black;
    text-decoration: none;
}

.footer-item {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 15px;
}

.footer-item a {
    transition: 0.3s;

}

.fI {
    max-width: 350px;
    gap: 20px;
}

.fI>p {
    font-size: 0.88em;
    line-height: 1.4em;
}

.social-net {
    display: flex;
    gap: 15px;
    font-size: 1.2em;
    padding: 10px 0;
}

.social-net>i {
    background: rgb(234, 234, 234);
    color: rgb(90, 90, 90);
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    transition: 0.3s;
}

.social-net>i:hover {
    background: #FF0336;
    color: white;
}

.footer-item a:hover {
    color: #FF0336;
    font-weight: bold;
    font-size: 1.05em;
}

.footer-container a,
p {
    color: rgb(90, 90, 90);
    font-size: 0.93em;

}

@media(max-width:800px) {
    /* footer section  */
    .footer-grid {
        display: grid;
        grid-template-columns: 2fr;
        gap: 50px;
        justify-items: center;
    }
    .footer-item {
       align-items: center;
       text-align: center;
    }
}
/* xxxxxxxxxxxxxxx footer close xxxxxxxxxxxxxxxxx */


@media(max-width:1200px) {
    .navbar-list {
        display: none;
    }

    .right-nav>.fa-bars {
        display: block;
    }
}

@media(max-width:500px) {
    .logo>img {
        width: 100%;
    }

    .logo {
        width: 30vmax;
        min-width: 70px;
        max-width: 130px;
        margin-right: 20px;
    }

    .navbar {
        padding: 20px 10px;
    }

    .rev-cont {
        width: 98%;
        padding: 10px;
    }
}

@media(max-width:410px) {
    .nav-about-section {
        width: 100%;
    }
}

@media(max-width:600px) {
    .joinbtn {
        display: none;
    }
}