@media(max-width:1000px) {
    .mid-nav {
        display: none;
    }
    .lables {
        justify-content: center;
    }
    .title-sub-box {
        width: 140px;
    }
}


@media(max-width:900px) {
    .title-subtitle-container{
        justify-content: space-around;
        text-align: center;
    }
}


@media(max-width:800px) {
    .home-container {
        padding: 10px 30px 30px 30px;
    }
    .discover-container{
        padding: 30px;
    }
}


@media(max-width:700px) {
    .search-bar {
        width: 100%;
    }
    .discover-airbnb-imgs{
        flex-direction: column;
        width: 100%;
    }
    .discover-img {
        width: 100%;
    }
    .discover-airbnb-imgs > img{
        width: 100%;
    }
    .gift-container{
        flex-direction: column;
    }
    .gift-info{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        /* background: red; */

    }
    .gift-info > h2{
        font-size: 1.5em
    }
    .gift-img{
        width: 100%;
    }
}

@media(max-width:600px){

}

@media(max-width:500px) {
    .heading{
        text-align: center;
    }
}


@media(max-width:400px) {
    .card-item {
        width: 100%;
    }
    
    .title-sub-box{
        width: 100px;
    }
}

@media(max-width:300px){
    .title-subtitle-container{
        justify-content: center;
        text-align: center;
    }
}